@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes alertShow {
  from {
    right: -350px;
  }

  to {
    right: 1rem;
  }
}

body,
ol,
ul {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

h1,
p,
a,
h2,
code {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
  line-height: 1.75;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem !important;
  font-weight: bold !important;
}

.blue {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 2rem;
  background-color: white;
  border-radius: 5px;
  z-index: 999;
  animation: alertShow 500ms linear;
  max-width: 230px;
}

.alert p {
  margin: 0;
  padding: 0;
  color: #1a1d22;
}

.alert--success {
  border-left: 10px solid #61dafb;
}

.alert--error {
  border-left: 10px solid #f05454;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.react-logo {
  animation: rotate 10s infinite linear;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.installation {
  padding: 1rem;
  background-color: #1a1d22;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 0 auto 2rem auto;
}

.installation code {
  margin: 0 0 1rem 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
}

.installation button {
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.clipboard-icon {
  width: 16px;
  margin-right: 0.5rem;
}

.contribute {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.ecosystem h2,
.contribute h2,
.contribute p {
  text-align: center;
}

.ecosystem ol li:not(:last-child) {
  margin-bottom: 1rem;
}

.ecosystem ol li {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .installation {
    max-width: none;
    margin: 0;
    align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .contribute {
    margin: 0;
  }

  .ecosystem ol {
    display: flex;
    justify-content: center;
  }

  .ecosystem ol li:not(:last-child) {
    margin: 0 1rem 0 0;
  }
}

@media screen and (min-width: 900px) {
  .installation {
    flex-direction: row;
  }

  .installation code {
    margin: 0;
  }

  .installation button {
    margin-left: 1rem !important;
  }
}
